{% extends "voca/base.html" %}

{% block sidebar %}
        <div id="sidebar">

        <nav class="w3-sidebar w3-bar-block w3-collapse w3-large w3-theme-l5 w3-animate-left" id="mySidebar">
            <a href="javascript:void(0)" onclick="w3_close()" class="w3-right w3-xlarge w3-padding-large w3-hover-black w3-hide-large" title="Close Menu">
                <i class="fa fa-remove"></i>
            </a>

            <h4 class="w3-bar-item"><b>Menu</b></h4>
            {% for link, text in sidebar.items %}
            <a class="w3-bar-item w3-button w3-hover-black" href="{{ link }}">{{ text }}</a>
            {% endfor %}
        </nav>

{% endblock %}


{% block section_content %}

{% load split_input %}


<script>

function is_known(w, i)
{
    console.log(i + " has been clicked");
    var checkbox = document.getElementById(w);
    var buttons = document.getElementsByClassName(i+'_'+w);

    console.log(checkbox);
    if (checkbox.checked == true){
        console.log("going to uncheck");
        checkbox.checked = false;
        Array.prototype.forEach.call(buttons, function(word_known, index) {
                    console.log("unstrike_through " + index);
                    buttons[index].style.textDecoration = "";
                });
    } else {
        checkbox.checked = true;
        Array.prototype.forEach.call(buttons, function(word_unknown, index) {
                    console.log("strike_through " + index);
                    buttons[index].style.textDecoration = "line-through";
                });
    }
}

</script>

<style>
.unstyled-button {
    border: none;
    padding: 0;
    background: none;
}

.not_in_db
{
    color:blue;
}

.not_learnt
{
    color:red;
}

.invisible_checkbox{
    display: none; 
}

</style>
{% if message %}
{{message}}
{% endif %}

<p>
<form name="user_filtering" method="POST" action="">
{% csrf_token %}

{% if original_input %}
    {% with original_input|split as input %}
        {% for w, i in input %}
            {% if w in not_in_db %}
                <button class="unstyled-button not_in_db {{i}}_{{w}}" type="button" onclick="is_known('{{w}}', '{{i}}')">{{w}}</button>
                {#<input type="checkbox" class="invisible_checkbox" id="{{w}}" name="{{w}}">#}
                <input type="checkbox" id="{{w}}" name="{{w}}">
            {% elif w in not_learnt %}
                <button class="unstyled-button not_learnt {{i}}_{{w}}" type="button" onclick="is_known('{{w}}', '{{i}}')">{{w}}</button>
                {#<input type="checkbox" class="invisible_checkbox" id="{{w}}" name="{{w}}">#}
                <input type="checkbox" id="{{w}}" name="{{w}}">
            {% else %}
                {{w}}
            {% endif %}
        {% endfor %}
    {% endwith %}
    <br/>
    <button name="submit_filter" type="submit">Submit</button>
<br/>
<br/>
---------------------
<br/>
<br/>
{% endif %}
</form>
</p>


{% if not_learnt %}
    words not learnt = 
    {% for w in not_learnt %}
    <li>{{ w }}</li>
    {% endfor %}
{% endif %}

{% if in_db %}
    words already in DB = 
    {% for w in in_db %}
    <li>{{ w }}</li>
    {% endfor %}
{% endif %}

{% if not_in_db %}
    New words not in DB  = 
    {% for w in not_in_db %}
    <li>{{ w }}</li>
    {% endfor %}
{% endif %}

{% if removed_tokens %}
    Removed tockens = 
    {% for w in removed_tokens %}
    <li>{{ w }}</li>
    {% endfor %}
{% endif %}
<br/>
<form name="new_input" method="POST" action="">
    {% csrf_token %}
    <textarea type="text" name="new_input" rows="4" cols="50"> </textarea>
    <br/>
    <button name="submit_new_input" type="submit">Upload text</button>
</form>
{% endblock %}
