{% extends "voca/base.html" %}

{% block sidebar %}
        <div id="sidebar">

        <nav class="w3-sidebar w3-bar-block w3-collapse w3-large w3-theme-l5 w3-animate-left" id="mySidebar">
            <a href="javascript:void(0)" onclick="w3_close()" class="w3-right w3-xlarge w3-padding-large w3-hover-black w3-hide-large" title="Close Menu">
                <i class="fa fa-remove"></i>
            </a>

            <h4 class="w3-bar-item"><b>Menu</b></h4>
            {% for link, text in sidebar.items %}
            <a class="w3-bar-item w3-button w3-hover-black" href="{{ link }}">{{ text }}</a>
            {% endfor %}
        </nav>

{% endblock %}


{% block section_content %}
{% load split_input %}


<script>
var count = 1;
function changeColor(className, color) {
    var property = document.getElementsByClassName(className);

    if (count == 0) {
        Array.prototype.forEach.call(property, function(setColor, index)
                {
                    property[index].style.backgroundColor = "#FFFFFF";
                }
                );
        count = 1;        
    }
    else {
        Array.prototype.forEach.call(property, function(setColor, index)
                {
                    property[index].style.backgroundColor = "#7FFF00";
                }
                );
        count = 0;
    }
}
</script>

<style>
.unstyled-button {
    border: none;
    padding: 0;
    background: none;
    color:blue;
}
</style>

{% if original_input %}
    {% with original_input|split as input %}
        {% for w in input %}
        <button class="unstyled-button word1" onclick="changeColor('word1')" >{{w}}</button>
        {% endfor %}
    {% endwith %}
{% endif %}





<br/>
<br/>
<br/>
<br/>


---------------------


{% if in_words %}
    words already in DB = 
    {% for w in in_words %}
    <li>{{ w }}</li>
    {% endfor %}
{% endif %}

{% if not_words %}
    New words not in DB  = 
    {% for w in not_words %}
    <li>{{ w }}</li>
    {% endfor %}
{% endif %}

{% if removed_tokens %}
    Removed tockens = 
    {% for w in removed_tokens %}
    <li>{{ w }}</li>
    {% endfor %}
{% endif %}
Add a new input :
<form method="POST" action="">
    {% csrf_token %}
    <textarea type="text" name="textfield" rows="4" cols="50"> </textarea>
    <br/>
    <button type="submit">Upload text</button>
</form>
{% endblock %}
