{% extends "voca/base.html" %}

{% block sidebar %}
        <div id="sidebar">

        <nav class="w3-sidebar w3-bar-block w3-collapse w3-large w3-theme-l5 w3-animate-left" id="mySidebar">
            <a href="javascript:void(0)" onclick="w3_close()" class="w3-right w3-xlarge w3-padding-large w3-hover-black w3-hide-large" title="Close Menu">
                <i class="fa fa-remove"></i>
            </a>

            <h4 class="w3-bar-item"><b>Menu</b></h4>
            {% for link, text in sidebar.items %}
            <a class="w3-bar-item w3-button w3-hover-black" href="{{ link }}">{{ text }}</a>
            {% endfor %}
        </nav>

{% endblock %}


{% block section_content %}

{% load split_input %}

<div class="w3-twothird w3-container">

<script>

function setWordStatus(w, i, status)
{
    console.log(i + " has been clicked");
    var select = document.getElementById(w);
    var buttons = document.getElementsByClassName(i + '_' + w);
    var option = document.createElement("option");

    console.log(select.value);

    if (status == 'already_know') {

        if (select.value == '' || select.value == 'tolearn') {
            option.text = "known";
            select.add(option); 
            option.selected = true;
            Array.prototype.forEach.call(buttons, function(word_known, index) {
                buttons[index].style.color = 'grey';
            });
        }
        else if (select.value == 'known')
        {
            option.text = "tolearn";
            select.add(option); 
            option.selected = true;
            Array.prototype.forEach.call(buttons, function(word_known, index) {
                buttons[index].style.color = 'blue';
            });
        }
        
    } else if (status == 'tolearn' ){
        if (select.value == '' || select.value == 'tolearn') {
            option.text = "learnt";
            select.add(option); 
            option.selected = true;
            Array.prototype.forEach.call(buttons, function(word_unknown, index) {
                buttons[index].style.textDecoration = "line-through";
            });
        }
        else if (select.value == 'learnt') {
            option.text = "tolearn";
            select.add(option); 
            option.selected = true;
            Array.prototype.forEach.call(buttons, function(word_unknown, index) {
                buttons[index].style.textDecoration = "";
            });

        }
    }
    else
    {
        console.log("Unreconized status");
    }
}

</script>

<style>
.unstyled-button {
    border: none;
    padding: 0;
    background: none;
}

.not_in_db
{
    color:blue;
}

.not_learnt
{
    color:red;
}

.invisible_select{
    display: none; 
}

#blueword
{
    color:blue;
}

#redword
{
    color:red;
}

</style>
{% if message %}
{{message}}
{% endif %}

<form name="new_input" method="POST" action="">
    {% csrf_token %}
    <textarea type="text" name="new_input" rows="4" cols="50"> </textarea>
    <br/>
    <button name="submit_new_input" type="submit">Upload text</button>
</form>


{% if original_input %}
<br/>
---------------------
<br/>
<form name="user_filtering" method="POST" action="">
{% csrf_token %}
Optional: tell us what words you know:
<br/>
<i><span id="blueword">blue</span> = never seen here, <span id="redword">red</span> = you don't know, black = you already know.
<br/>
By default all the blue words are not leant</i>
<br/>
<button type="button" onclick="invert_selection('{{input}}')">Invert selection</button>
<br/>
<i>Select the words you don't know. In <span id="redword">red</span>, the words you don't know. By default all the words are learnt</i>
<br/>
---------------------
<br/>
    {% with original_input|split as input %}
        {% for w, i in input %}
            {% if w in not_in_db %}
                <button class="unstyled-button not_in_db {{i}}_{{w}}" type="button" onclick="setWordStatus('{{w}}', '{{i}}', 'already_know')">{{w}}</button>
                <select class="invisible_select" id="{{w}}" name="{{w}}"></select>
            {% elif w in not_learnt %}
                <button class="unstyled-button not_learnt {{i}}_{{w}}" type="button" onclick="setWordStatus('{{w}}', '{{i}}', 'tolearn')">{{w}}</button>
                <select class="invisible_select" id="{{w}}" name="{{w}}"></select>
            {% else %}
                {{w}}
            {% endif %}
        {% endfor %}
    {% endwith %}
    <br/>
    <button name="submit_filter" type="submit">Submit</button>
{% endif %}
</form>

</div>
{% endblock %}
